html,
body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.application {
    height: 100vh;
    display: flex;
    flex-direction: column;

    > :first-child {
        flex: none;
    }

    > :nth-child(2) {
        flex: 1;
    }

    > :last-child {
        height: 20px;
        flex: none;
    }
}

.navbar {
    border-bottom: .5px solid gray;
}

footer {
    background-color: whitesmoke;
    border-top: .5px solid gray;
}
